- cache leaderboard, force: local_assigns.fetch(:bust_cache, false) do
  #leaderboard
    .leaderboard-header.row
      .col-8
        %h3= leaderboard.title
      .col.text-right
        %span#leaderboard_connection_status.badge.badge-secondary{ data: { target: "live-leaderboards.status" } }
          Connecting...
        %p#leaderboard_last_updated_time
          %small
            Last updated at 
            = Time.now.strftime("%k:%M:%S")
    %table#leaderboard_table.table
      %thead
        %tr
          %th{scope: "col"} Rank
          %th{scope: "col"} Username
          %th{scope: "col"} Score
      %tbody
        - leaderboard.leaders.each do |leader|
          %tr
            %th{scope: "row"}= leader.family_rank
            %td= leader.username
            %td= leader.total_score

