%table#leaderboard_table.table.table-responsive-md
  %thead
    %tr
      %th{scope: "col"} Rank
      %th{scope: "col"} Username
      %th{scope: "col"} Score
      %th{scope: "col"}
        Top Scoring Medals
        %span.float-right= link_to "Medal values", medals_path
  %tbody
    - leaderboard.entries.each do |entry|
      %tr
        %th{scope: "row"}= entry.family_rank
        %td
          - if entry.user_online?
            %span.text-primary{ data: { toggle: "tooltip", placement: "top" }, title: "Online" }
              = entry.username
          - else
            = entry.username
        %td= entry.total_score
        %td
          %div.top-medals
            - entry.top_medals_for_user.map { |tm| TopMedalDecorator.new(tm) }.each do |top_medal|
              %div.top-medal.ml-1
                = image_tag medal_image_path(top_medal.medal), title: top_medal.image_title, size: 28
                x
                = top_medal.achievements_count


