.container
  %h1 Leaderboards


  .leaderboard-navigation
    %h5 Games
    %nav.nav.nav-pills
      - @families.each do |family|
        = link_to family.name,
          family_leaderboard_path(family, @leaderboard.timeframe),
          class: nav_link_classes(link_object: family, active_object: @leaderboard.family)

    %h5 Leaderboards
    %nav.nav.nav-pills
      - @timeframes.each do |timeframe|
        = link_to timeframe.to_s.titleize,
          family_leaderboard_path(@leaderboard.family, timeframe),
          class: nav_link_classes(link_object: timeframe.to_s, active_object: @leaderboard.timeframe.to_s)

  - if current_user.admin?
    %p
      - Medal.where(family: Family.first).select{ |m| m.image.present? }.each do |medal|
        = medal.name
        = image_tag rails_blob_path(medal.image), title: medal.name
        = image_tag small_medal_image_url(medal.image.variant(resize_to_limit: [28, 28])), title: medal.name
  #live_leaderboard{ data: { controller: "live-leaderboards", live_leaderboards_leaderboard: @leaderboard.channel } }
    = render partial: "leaderboard", locals: { leaderboard: @leaderboard }
